.mRaft__editor {
  display: flex;
  justify-content: center;
}
.mRaft__editor .editor.row .row {
  display: flex;
  margin: 20px 0 15px;
}

.mRaft__editor .editor.row .row .span4 {
  margin-left: 30px;
  min-width: 370px;
}

.mRaft__editor select {
  width: 220px;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #080808;
  font: 400 14px/1.4em "Segoe UI", "Open Sans", "Calibri", "Candara", Arial,
    sans-serif;
  padding: 4px 6px;
  cursor: pointer;
}

.mRaft__editor .control-label {
  font-size: 0.875rem;
  color: #555555;
  font: 400 14px/1.4em "Segoe UI", "Open Sans", "Calibri", "Candara", Arial;
  margin-right: 4px;
}

.mRaft__editor .monaco-scrollable-element > .invisible.fade {
  transition: opacity 0.8s linear;
}

.mRaft__editor .monaco-scrollable-element > .visible {
  opacity: 1;
  background: transparent;
  transition: opacity 0.1s linear;
}
.mRaft__editor #editor {
  height: 90vh !important;
  border: 1px solid #eee;
}

@media screen and (min-width: 1250px) {
  .mRaft__editor #editor {
    width: 1250px !important;
    height: 610px;
    border: 1px solid #eee;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1250px) {
  .mRaft__editor #editor {
    width: 1024px !important;
  }
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
  .mRaft__editor #editor {
    width: 991px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .mRaft__editor #editor {
    width: 768px !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mRaft__editor #editor {
    width: 480px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .mRaft__editor #editor {
    width: 320px !important;
  }
}

@media screen and (max-width: 767px) {
  .mRaft__editor .editor.row .row {
    flex-direction: column;
    padding-left: 12px;
    margin: 0 0 10px;
  }
  .mRaft__editor .editor.row .row .span4 {
    margin: 20px 0 0;
    min-width: 100px;
  }
  .mRaft__editor .editor.row .row .span4 > .control-label {
    min-width: 100px;
    display: inline-block;
  }
  .mRaft__editor #editor {
    height: 80vh;
  }
}
